@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: black !important;
  font-family: 'Quicksand', sans-serif;

}

input {
  outline: 0;
  border-bottom: 1px solid #454545;
  background-color: black
}

input:focus {
  border-bottom: 1px solid #ff9760;
}

label {
  margin-bottom: 40px;
}

label:focus-within {
  color: #ff9760;
  text-shadow: 0 0 10px #ff9760,
    0 0 20px #ff9760,
    0 0 40px #ff9760,
    0 0 80px #ff9760,
    0 0 160px #ff9760,

}

.customImg {
  background-image: url("../src/assets/simer.jpg")
}

.buttonStyling {
  background-color: black;
  color: #454545;
  border: 1px solid #454545;
  padding: 5px 10px;
  border-radius: 2px
}

.buttonStyling:hover {
  color: #fff;
  text-shadow: 0 0 10px #ff9760,
    0 0 20px #ff9760,
    0 0 40px #ff9760,
    0 0 80px #ff9760,
    0 0 160px #ff9760,
    0 0 320px #ff9760;
  border: 1px solid #ff9760;
}

.reflections {
  -webkit-box-reflect: below 3px linear-gradient(transparent, #004);
  text-transform: uppercase;
  line-height: 4.3rem;
  outline: none;
  letter-spacing: .5rem;
  animation: animate 10s linear infinite;
  min-height: 5vh;
  width: 500%;
}

@keyframes animate {

  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #454545;
    text-shadow: none;
  }


  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {

    color: #fff;
    text-shadow:
      0 0 10px #ff9760,
      0 0 20px #ff9760,
      0 0 40px #ff9760,
      0 0 80px #ff9760,
      0 0 160px #ff9760,
      0 0 320px #ff9760;

  }
}